@media only screen and (max-width: 1024px){
  body{
    padding-top: 50px;
  }
}
/*----------------------------------------------------------Header-------------------------------------------------*/
header {
  background-color: #FFF;
  .header-inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px 0 0;
      .menu-cont{
        width: 520px;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        .main-menu{
          display: flex;
          justify-content: space-between;
          @include f-r;
          font-size: 18px;
           li{
             a{
               color: #090B24;
             }
           }
        }
      }
    .part-left{
      width: 470px;
      height: inherit;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cont-icons{
        width: 85px;
        display: flex;
        justify-content:space-around;
        align-items: center;
        .icon{
          color: #2C3136;
          .fa{
            font-size: 28px;
          }
        }
      }
      .cont-tel{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #F3F3F3;
        .tel-info{
          font-size: 20px;
          color: #2C3136;
          @include f-r;
        }
        .tel{
          @include f-b;
          font-size: 24px;
          color: #18B794;
        }
      }
      .lang{
        width: 55px;
        height: 55px;
        margin-top: 30px;
        .select{
          font-size: 20px;
          @include f-m;
          text-align: end;
          a{
            color: #2C3136;
          }
          svg{
            margin-left: 7px;
          }
        }
        .list{
          display: none;
          text-align: end;
          padding-top: 10px;
          .item-list{
            font-size: 20px;
            @include f-m;
            a{
              color: #2C3136;
            }
          }
        }
        .list:hover{
          display: block;
        }
        .select:hover + .list {
          display: block;
        }
      }
      .tel-mobile{
        display: none;
      }
    }
    }
  @media only screen and (max-width: 1440px){
    .header-inner{
      .part-left{
        width: 400px;
      }
    }
  }
    @media only screen and (max-width: 1024px){
      position: fixed;
      left: 0;
      top: 0;
      z-index: 99;
      width: 100%;
      .header-inner{
        height: 50px;
        padding-left: 30px;
        .menu-cont{
          display: none ;
        }
        .part-left{
          width: 100px;
          .cont-icons{
            display: none;
          }
          .lang{
            display: none;
          }
          .cont-tel{
            display: none;
          }
          .tel-mobile{
            display: block;
          }
        }
      }
      .part-right{
        .logo{
          img{
            width: 100px;
          }
        }
      }
    }
    @media only screen and (max-width: 500px){
      .header-inner{
        padding-right: 10px;
        padding-left: 10px;
        .part-left{
          margin-right: 20px;
          width: 70px;
        }
      }
    }
  }
  /*----------------------------------------------------------Header-------------------------------------------------*/
/* --------------- Toggle button ---------------- */
.toggle-button {
  width: 29px;
  height: 29px;
  position: relative;

  background: #fff;

  z-index: 103;
  cursor: pointer;

  vertical-align: top;
  display: none;
  transition: 0.5s;
  @media only screen and (max-width : 1024px) {
    display: inline-block;
  }
  div {
    width:22px;
    height: 3px;
    background-color: #090B24;
    position: absolute;
    border-radius: 2px;
    transition: top 0.5s, transform 1s, opacity 0.5s, width 0.5s;
  }

  .inner {

  }

  div:nth-child(1) {
    top: 5px;
    left: 4px;
  }
  div:nth-child(2) {
    top: 13px;
    left: 4px
  }
  div:nth-child(3) {
    top: 21px;
    left: 4px
  }

  &.open {
    div:nth-child(1) {
      top: 13px;
      transform: rotate(45deg);
    }
    div:nth-child(2) {
      opacity: 0;
      width: 1px;
    }
    div:nth-child(3) {
      top: 13px;
      transform: rotate(-45deg);
    }
    div {
      //background-color: #fff !important
    }

  }
}
/* --------------- /Toggle button ---------------- */
/* --------------- Mobile menu ---------------- */
.mobile-menu-cont {
  direction: rtl;
  padding: 10px 20px;
  background: #fff;
  position: absolute;
  top: 50px;
  height: 900px;
  z-index: 101;
  left: 0;
  right: 0;
  display: none;
  text-align: right;
  overflow-y: scroll;
  .mobile-menu {
    display: inline-block;
    margin: auto;
    padding-top: 5px;
    width: 100%;
    > li {
      position: relative;
      padding: 10px 0;
      text-align: right;
      width: 100%;
      //border-bottom: 2px solid rgba(24,24,24, 0.25);
      a {
        transition: 0.5s;
        @include f-r;
        font-size: 20px;
        padding: 3px 10px;
        color: #090B24;
        white-space: nowrap;
        text-transform: uppercase;
        &:hover {
          color: #1c1c1c;
        }
      }
    }
    li.current-menu-item, li.current_page_item {
      >a {
        color: #090B24;
        @include f-m;
      }
    }
    .open-arrow {
      width: 25px;
      height: 25px;
      background: #ededed;
      border-radius: 5px;
      display: inline-block;
      color: #ca6c6c;
      cursor: pointer;

      font-size: 14px;
      margin-right: 25px;
      position: absolute;
      top: 10px;

      left: 0px;
      i {
        position: absolute;
        top: 1px;
        left: 5px;

        font-size: 24px;
        transition: 0.5s;
      }
    }

    .rotate {
      i {
        transform: rotate(180deg);
        color: #cf0006;
      }

    }
  }
}
/* --------------- /Mobile menu ---------------- */



  /*----------------------------------------------------Section Slider Top-------------------------------------------------------*/
section.slider-top{
  position: relative;
  .stamp{
    position: absolute;
    left: 5%;
    bottom:5%;
    transform: scale(1);
    z-index: 2;
  }
  .slider{
    width: 100%;
    height: 100%;
    .item{
      position: relative;
      overflow-y: hidden;
        img{
          max-width: 1920px;
          height: 680px;
          &:nth-child(3){
            position: absolute;
            top: 0;
            height: 890px;
          }
        }
        .data{
          display: none;
        }
    }
  }
  .section-inner{
    width: 100%;
    height:339px ;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 20%;
    text-align:center;
    z-index: 10;
      .title{
        width: 100%;
        text-transform: uppercase;
        color: #FFF;
        font-size: 97px;
        @include fb-l
      }
      #typed{
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        color: #FFF;
        font-size: 142px;
        @include fb-b
      }
      .parts{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
          .buttons{
              width: 300px;
              display: flex;
              justify-content: space-between;
                .button{
                  width: 135px;
                  height: 55px;
                  border-radius: 25px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
                  background-image: linear-gradient(195.44deg, #17B794 0.2%, #22257B 132.69%);
                  color: #FFF;
                  font-size: 18px;
                  @include f-r;
                  &:nth-child(2){
                    background-image: none;;
                    background-color: #FFF;
                    color: #090B24;
                  }
                  &:hover{
                    background-image: none;
                    background-color:#FFF ;
                    color: #090B24; ;
                  }
                  &:nth-child(2):hover{
                    background-image: linear-gradient(195.44deg, #17B794 0.2%, #22257B 132.69%);
                    color:#FFF ;
                  }
                }
              }
          }
      }
      @media only screen and (max-width: 1440px){
          .stamp{
            left: 15%;
            bottom: 15%;
          }
      }
      @media only screen and (max-width: 1024px) {
        .stamp{
          width: 180px;
          left: 10%;
          bottom: 10%;
        }
        .slider{
          .item{
            img{
              height: 100%;
              &:nth-child(3){
                position: absolute;
                top: 0;
                height: 627px;
              }
            }
            .data{
              display: none;
            }
          }
        }
        .section-inner{
          top: 10%;
        }
      }
    @media only screen and (max-width: 768px){
      .stamp{
        width: 130px;
        left: 0;
        bottom: 0;
      }
      .slider{
        .item{
          img{

          }
        }
      }
      .section-inner{
        width: 760px;
        height: 270px;
        .title{
          font-size: 67px;
        }
        #typed{
          font-size: 67px;
        }
      }
    }
    @media only screen and (max-width: 500px){
      height: 280px;
      .section-inner{
        width: 100%;
        height: 250px;
        top: 10%;
        .stamp{
          width: 200px;
        }
        .title{
          width: 100%;
          font-size: 30px;
        }
        #typed{
          width: 100%;
          font-size: 30px;
        }
        .parts{
          bottom: 40%;
          width: 200px;
          .buttons{
            .button{
              height: 45px;
              width: 90px;
            }
          }
        }
      }
      .slider{
        height: 280px;
        .item{
          img{
            height: 280px;
            &:nth-child(3){
              height: 367px;
            }
          }
        }
      }
    }
  }
  /*----------------------------------------------------Section Slider Top-------------------------------------------------------*/

/*----------------------------------------------------Section Boxes-------------------------------------------------------*/
section.box{
  height: 270px;
  display: flex;
  align-items: center;
  .boxes{
    width:100%;
    height:100% ;
    max-width: 1525px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .box{
      height:100% ;
      flex-basis: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img{
        width: 100%;
      }
        &:hover{
          background-color: #FFF;
          cursor: pointer;
        }
      .text{
        font-size: 24px;
        @include f-m;
        color:#0D0F3B
      }
    }
  }
    @media only screen and (max-width: 1024px){
      height: 210px;
      .boxes{
        height: auto;
        .box{
          .icon{
            width: 120px;
          }
          .text{
            font-size: 18px;
          }
          &:hover{
            background: none;
          }
        }
      }
    }
  @media only screen and (max-width: 500px){
    height: auto;
    .boxes{
      .box{
        flex-basis: 100%;
        height: 170px;
      }
    }
  }
}
/*----------------------------------------------------Section Boxes-------------------------------------------------------*/

  /*----------------------------------------------------Section Services-------------------------------------------------------*/
  section.services {
    height: 850px;
    background-color: #FFF;
    position: relative;

    .section-inner {
      max-width: 1525px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .parts {
        width: 100%;
        max-width: 1525px;

        .part {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          .right-part {
            flex-basis: 43%;
            .title {
              color: #17B794;
              font-size: 72px;
              @include fb-b;

              & span {
                color: #22257B;
                margin-left: 20px;
              }
            }

            .content {
              margin-top: 28px;
              .content-text {
                font-size: 18px;
                color: #090B24;
                @include f-r;
              }

              ul {
                list-style-position: inside;
                margin-top: 36px;
                li {
                  font-size: 18px;
                  color: #090B24;
                  @include f-r;
                  margin-bottom: 10px;

                  &:nth-child(1) {
                    margin-top: 20px;
                  }

                  &:last-child {
                    margin-bottom: 0px;
                  }
                }
              }

              .button {
                width: 135px;
                height: 55px;
                border-radius: 28px;
                background-image: linear-gradient(195.44deg, #17B794 0.2%, #22257B 132.69%);
                font-size: 18px;
                color: #FFF;
                @include f-m;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-top: 55px;
              }
            }
          }

          .part-img-left {
            flex-basis: 64%;
            img {
              width: 100%;
            }
          }
        }
      }

      .boxes-bottom {
        width: 100%;
        max-width: 1525px;
        height: 187px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        position: absolute;
        bottom: -93px;
        box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.25);

        .boxes-right {
          height: 100%;
          width: 350px;
          background-image: linear-gradient(224deg, #18B794 0%, #22257B 100%);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding-right: 35px ;

          .subtitle {
            color: #FFF;
            font-size: 36px;
            @include fb-r
          }

          .title {
            color: #FFF;
            font-size: 48px;
            @include fb-b
          }
        }

        .boxes-list {
          width: 100%;
          max-width: 1175px;
          margin: 0 auto;
          height: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          background-color: #FFF;

          .box {
            display: flex;
            flex-direction: column;
            align-items: center;

            .icon {
              margin-bottom: 10px;
            }

            .text {
              font-size: 18px;
              color: #090B24;
              @include f-m;
            }
          }
        }
      }

      .slider-clients {
        .item {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .client-img {
            flex-basis: 50%;

            img {
              flex-basis: 100%;
            }
          }

          .clients-reviews {
            flex-basis: 39%;
            .title {
              font-size: 24px;
              @include f-b;
              color: #22257B;
            }

            .description {
              font-size: 18px;
              color: #090B24;
              @include f-r;
              margin-top: 22px;

              &:nth-child(3) {
                margin-bottom: 30px;
              }
            }

            .button {
              width: 283px;
              height: 99px;
              background-color: #F3F3F3;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;

              img {
                width: 49px;
                margin-right: 20px;
              }
            }
          }
        }

        &.owl-theme {
          .owl-dots {
            margin-top: 81px;

            .owl-dot:hover {
              span {
                background-color: #17B794;
              }
            }

            .owl-dot {
              &.active {
                span {
                  background-color: #17B794;
                }
              }
            }
          }
        }
      }
    }

    @media only screen and (max-width: 1440px) {
      .section-inner {
        .parts {
          .part {
            .right-part {
              flex-basis: 43%;
            }

            .part-img-left {
              flex-basis: 57%;
            }
          }
        }

        .boxes-bottom {
          max-width: 1400px;
          .boxes-right {
            .title {
              font-size: 35px;
            }
          }
        }
      }
    }
      @media only screen and (max-width: 1024px) {
        height: 550px ;
        .section-inner {
          padding: 0 40px;
          .parts {
            .part {
              flex-basis: 50%;
              .right-part {
                .title {
                  font-size: 22px;
                }

                .content {
                  margin-top: 11px;
                  .content-text {
                    font-size: 16px;
                  }
                  ul {
                    li {
                      font-size: 16px;
                    }
                  }
                  .button{
                    margin-top: 15px;
                  }
                }
              }
            }
          }
          .boxes-bottom {
            max-width: 980px;
            .boxes-right {
              .title {
                font-size: 40px;
              }

              .subtitle {
                font-size: 35px;
              }
            }
          }

          .boxes-list {
            .box {
              height: 86px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .icon {
                img {
                  width: 40px;
                }
              }

              &:nth-child(1) {
                .icon {
                  img {
                    width: 30px;
                  }
                }
              }
            }
          }
        }
      }
      @media only screen and (max-width: 768px) {
        height: 1000px;
        .section-inner {
          padding-top: 0;
          .parts {
            .part {
              flex-direction: column-reverse;
              height: 900px;
              .right-part{
                .content {
                  height: 280px;
                  .button{
                    margin-top: 30px;
                  }
                }
              }
            }
          }
          .boxes-bottom {
            max-width: 700px;
            height: 130px;
            bottom: -63px;
            .boxes-right {
              display: none;
              .title {
                font-size: 18px;
              }
              .subtitle {
                font-size: 16px;
              }
            }
            .boxes-list {
              .box {
                height: 70px;

                .icon {
                  img {
                    width: 30px;
                  }
                }

                &:nth-child(1) {
                  .icon {
                    img {
                      width: 20px;
                    }
                  }
                }

                .text {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
      @media only screen and (max-width: 500px) {
        height: 780px;
        .section-inner {
          height: 770px;
          .parts {
            .part {
              height: 760px;
              .right-part {
                .title {
                  font-size: 55px;
                  width: 288px;
                  span{
                    margin-left: 0;
                  }
                }
                .content {
                  height: 390px;
                  .title {
                    font-size: 16px;
                  }
                  ul li {
                    font-size: 16px;
                  }
                  .button{
                    margin-top: 30px;
                  }
                }
              }
            }
            .part-img-left {
              flex-basis: 31%;
            }
          }
          .boxes-bottom {
            display: none;
          }
        }
      }
      @media only screen and (max-width: 375px) {
        height: 750px;
        .section-inner {
          height: 740px;
          .parts{
            .part{
              height: 730px;
            }
          }
          .boxes-bottom {
            .boxes-right {
              .title {
                font-size: 11px;
              }

              .subtitle {
                font-size: 10px;
              }
            }
          }
        }
      }
}
  /*----------------------------------------------------Section Services-------------------------------------------------------*/

    /*----------------------------------------------------Section Before After-------------------------------------------------------*/
section.before-after {
  height: 982px;
  background-image: url("../images/clean.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  .header {
    text-align: center;
    padding-top: 172px;
      .title {
        color: #17B794;
        font-size: 72px;
        @include fb-b;
        & span {
          color: #22257B;
        }
      }
      .header-text{
        font-size: 18px;
        @include f-r;
        color: #090B24;
        margin-bottom: 63px;
      }
  }
  .slider-before {
    width: 100%;
    max-width: 1525px;
    height: 418px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;

      .slider-size {
        width: 700px;
        .juxtapose {
          z-index: 2;
          height: 389px;
          .jx-slider{
            height: 389px;
          }
          .jx-arrow.jx-right {
            animation: move-right 2s infinite;
          }

          .jx-arrow.jx-left {
            animation: move-left 2s infinite;
          }
        }
        .slider-text{
          height: 50px;
          width: 700px;
          position: absolute;
          bottom: 40px;
          display: flex;
          justify-content: space-between;
          z-index: 5;
          .text-left{
            width: 118px;
            background-color: rgba(255,255,255,0.5);
            border-radius: 10px;
            margin-left: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            color: #090B24;
            @include f-r
          }
          .text-right{width: 118px;
            background-color: rgba(255,255,255,0.5);
            border-radius: 10px;
            margin-right: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            color: #090B24;
            @include f-r
          }
        }
      }
    }
  .button-more{
    height: 201px;
    display: flex;
    justify-content: center;
    align-items: center;
      .button{
        width: 135px;
        height: 55px;
        border-radius: 28px;
        background-image:linear-gradient(195.44deg, #17B794 0.2%, #22257B 132.69%); ;
        font-size: 18px;
        color: #FFF;
        @include f-m;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
  }
  @media only screen and (max-width: 1440px){
    .slider-before{
      max-width: 1400px;
      .slider-size{
        width:680px;
        .slider-text{
          width: 680px;
        }
      }
    }
  }
  @media only screen and (max-width: 1366px){
    .slider-before{
      width:100%;
      max-width: 1300px;
      .slider-size{
        width: 610px;
        .slider-text{
          width: 610px;
        }
      }
    }
  }
  @media only screen and (max-width: 1024px){
    .slider-before{
      width:100%;
      max-width: 980px;
      .slider-size{
        width: 410px;
        .slider-text{
          width: 410px;
        }
      }
    }
  }
  @media only screen and (max-width: 768px){
    height: 870px;
    .header{
      padding-top: 120px;
    }
    .slider-before{
      width:100%;
      max-width: 700px;
      .slider-size{
        width: 700px;
        .slider-text{
          width: 700px;
        }
        &:nth-child(2){
          display: none;
        }
      }
    }
  }
  @media only screen and (max-width: 500px){
    height: 680px;
    .header {
      padding-top: 30px;
      .title {
        font-size: 55px;
      }
      .header-text{
        font-size: 15px;
        padding: 0 30px;
      }
    }
    .button-more{
      height: 110px;
    }
    .slider-before{
      width:100%;
      max-width: 335px;
      height: 340px;
      .slider-size{
        width: 335px;
        .slider-text{
          width: 335px;
          bottom: 20px;
        }
        .juxtapose{
          .jx-slider{
            height:340px
          }
        }
      }
    }
  }
  @media only screen and (max-width: 375px){
    .header{
      padding: 30px 30px 0 30px;
      .header-text{
        padding: 0 0;
      }
    }
    .slider-before{
      max-width: 320px;
      .slider-size{
          width: 320px;
        .slider-text{
          width: 320px;
        }
      }
    }
  }
}
/*----------------------------------------------------Section Before After-------------------------------------------------------*/

/*----------------------------------------------------Section Clients-------------------------------------------------------*/
section.section-clients{
  height: 940px;
  position: relative;
  background-color: #FFF;
  .section-inner{
    width: 100%;
    max-width: 1525px;
    margin: 0 auto;
      .header {
        text-align: center;
        padding-top: 80px;
        .title {
          color: #17B794;
          font-size: 72px;
          @include fb-b;
          & span {
            color: #22257B;
          }
        }
        .header-text{
          font-size: 18px;
          @include f-r;
          color: #090B24;
          margin-bottom: 93px;
        }
      }
      .slider-clients{
          .item{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
              .client-img{
                flex-basis: 50%;
                  img{
                    flex-basis: 100%;
                  }
              }
              .clients-reviews{
                flex-basis: 39%;
                margin-left: 50px;
                  .title{
                    font-size: 24px;
                    @include f-b;
                    color: #22257B;
                  }
                  .description{
                    font-size: 18px;
                    color: #090B24;
                    @include f-r;
                    margin-top: 22px;
                    &:nth-child(3){
                      margin-bottom: 30px;
                    }
                  }
                  .button{
                    width:283px ;
                    height: 99px;
                    background-color: #F3F3F3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    position: absolute;
                    bottom: 0;
                    font-size: 18px;
                    color: #090B24;
                    @include f-m;
                      img{
                        width: 49px;
                        margin-right: 20px;
                      }
                  }
              }
          }
        &.owl-theme{
          .owl-dots{
            margin-top:81px;
            .owl-dot:hover{
              span{
                background-color: #17B794;
              }
            }
            .owl-dot{
              &.active{
                span{
                  background-color: #17B794;
                }
              }
            }
          }
        }
      }
    .clients-logo{
      width: 100%;
      max-width: 1525px;
      height: 140px;
      background-color: #F3F3F3;
      box-shadow: 0px 10px 28px rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -70px;
      right: 50%;
      transform: translateX(50%);
        .section-inner{
          width: 100%;
          max-width: 1306px;
          height: 91px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .button{
            cursor: pointer;
            img{
              filter: grayscale(100%);
              height: 50px;
              opacity: 0.5;
              &:hover{
                filter: grayscale(0);
                opacity: 1;
              }
              }
            }
        }
    }
  }
  @media only screen and (max-width: 1440px){
    .section-inner{
      .slider-clients{
        padding: 0 10px;
      }
      .clients-logo{
        max-width: 1400px;
      }
    }
  }
  @media only screen and (max-width: 1024px){
    height: 740px;
    .section-inner{
      .header{
        padding-top: 30px;
      }
      .slider-clients{
        padding: 0 30px;
        .item{
          .clients-reviews{
            .title{
              font-size: 16px;
            }
            .description{
              font-size: 13px;
            }
            .button{
              height: 60px;
              width: 150px;
              img{
                width: 30px;
              }
            }
          }
        }
      }
      .clients-logo{
        max-width: 980px;
        .section-inner{
          max-width: 950px;
          .button{
            img{
              height: 40px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 768px){
    height: 1050px;
      .section-inner{
        .header{
          padding-top: 20px;
        }
        .slider-clients{
          .item{
            flex-direction: column;
              .clients-reviews{
                width: 100%;
                max-width: 649px;
                margin-top: 20px;
                .button{
                  position: static;
                }
              }
            .client-img{
              width: 100%;
            }
          }
          &.owl-theme{
            .owl-dots{
              margin-top: 50px;
            }
          }
        }
        .clients-logo{
          max-width: 700px;
          .section-inner{
            .button{
              img{
                height: 30px;
              }
            }
          }
        }
      }
    @media only screen and (max-width: 500px){
      height: 780px;
      .section-inner{
        .header{
          .title{
            font-size: 50px;
          }
          .header-text{
            font-size: 15px;
            margin-bottom: 30px;
            padding: 0 20px;
          }
        }
        .clients-logo{
          height: 70px;
          .section-inner{
            .button{
              img{
                height: 20px;
              }
            }
          }
        }
      }
    }
    @media only screen and (max-width: 375px){
      .section-inner{
        .header{
          .header-text{
            padding: 0 20px;
          }
        }
      }
    }
  }
}
/*----------------------------------------------------Section Clients-------------------------------------------------------*/

/*----------------------------------------------------Section Footer-------------------------------------------------------*/
footer{
  height: 960px;
    .contact{
      height: 850px;
      background-image: url("../images/footer-logo.png");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: flex-end;
        .section-inner {
          height: 760px;
          max-width: 1525px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .title {
            font-size: 50px;
            color: #FFF;
            @include fb-r;
          }

          .subtitle {
            font-size: 60px;
            color: #FFF;
            @include fb-b;
            padding-bottom: 68px;
          }

          .wpcf7 {
            width: 100%;

            form {
              display: flex;
              justify-content: space-between;
            }

            input {
              width: 386px;
              height: 34px;
              background-color: transparent;
              border: none;
              outline: none;
              border-bottom: 1px solid #FFF;
              font-size: 18px;
              color: #FFF;
              @include f-b;

              &::placeholder {
                color: #FFF;
                font-size: 18px;
                @include f-r;
              }
            }

            input[type="submit"] {
              width: 143px;
              height: 56px;
              border: none;
              cursor: pointer;
              padding-left: 30px;
            }

            .wpcf7-form {
              .submit-button {
                width: 143px;
                position: relative;
                background-color: #17B794;
                border-radius: 28px;
                img {
                  position: absolute;
                  left: 20px;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 25px;
                }
              }
            }
          }
          .tel-now{
            width: 429px;
            height: 65px;
            border: 1px solid #17B794;
            border-radius: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 59px;
              p{
                color: #FFF;
                font-size: 24px;
                @include f-m
              }
          }
          .footer-list {
            padding-top: 35px;
            padding-bottom: 55px;
             width: 100%;
            .columns {
              display: flex;
              justify-content: space-between;
              .col {
                .title {
                  @include f-m;
                  font-size: 17px;
                  color: #fff;
                }
                .content {
                  margin-top: 15px;
                }
                ul {

                  li {
                    margin-top: 5px;
                    a {
                      @include f-r;
                      font-size: 17px;
                      color: #fff;
                      transition: 0.5s;
                      &:hover {
                        color: #EE6E6F;
                      }
                    }
                  }
                }
                p {
                  @include f-r;
                  font-size: 17px;
                  color: #fff;
                  margin-top: 5px;
                  strong {
                    @include f-m;
                  }
                }
              }
            }
          }
          @media only screen and (max-width: 1440px) {
            max-width: 1400px;
            .wpcf7{
              width: 100%;
              max-width:1220px ;
              input{
                width: 286px;
              }
            }
          }
          @media only screen and (max-width: 1024px) {
            padding: 0 40px;
            .wpcf7{
              width: 100%;
              max-width:1220px ;
              input{
                width: 186px;
              }
            }
          }
          @media only screen and (max-width: 768px){
            .wpcf7{
              input{
                width: 500px;
              }
              .wpcf7-form{
                flex-direction: column;
                align-items: center;
                height: 280px;
              }
            }
            .footer-list{
              display: none ;
            }
            .tel-now{
              width: 100%;
              margin-top: 20px;
            }
          }
          @media only screen and (max-width: 500px){
            height: 630px;
              .title{
                font-size: 31px;
              }
              .subtitle{
                font-size: 35px;
                padding-bottom: 10px;
              }
            .wpcf7{
              input{
                width: 100%;
              }
            }
            .tel-now{
              p{
                font-size: 20px;
              }
            }
          }
          @media only screen and (max-width: 375px){
            .title{
              font-size: 28px;
            }
            .subtitle{
              font-size: 31px;
            }
            .tel-now{
              p{
                font-size: 16px;
              }
            }
          }
        }
    }
  .footer-bottom{
    height: 110px;
    display: flex;
    align-items: center;
      .section-inner{
        max-width: 1920px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;
        padding-left: 30px;
          .info{
            width: 280px;
            .copy{
              a{
                font-size: 18px;
                color: #090B24;
                @include f-r;
              }
            }
          }
      }
    @media only screen and (max-width: 500px){
      height: 80px;
      .section-inner{
        width: 100%;
        max-width: 375px;
        .info{
          text-align: center;
          .copy{
            font-size: 15px;
            .credit{
              font-size: 15px;
            }
          }
        }
        .part-right{
          display: none;
        }
      }
    }
  }
  @media only screen and (max-width: 500px){
    height: 100%;
      .contact{
        height: 650px;
      }
  }
}
/*----------------------------------------------------Section Footer-------------------------------------------------------*/