/*----------------------------------------------------------Header-------------------------------------------------*/
header {
  .header-inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px 0 20px;
      .menu-cont{
        width: 520px;
        .main-menu{
          display: flex;
          justify-content: space-between;
          @include f-r;
          font-size: 18px;
           li{
             a{
               color: #090B24;
             }
           }
        }
      }
    }
    .part-left{
      width: 563px;
      display: flex;
      justify-content: space-between;
      align-items: center;
            .cont-icons{
              width: 112px;
              display: flex;
              justify-content:space-around;
              align-items: center;
              .icon{
                color: #2C3136;
                .fa{
                  font-size: 28px;
                }
              }
            }
          .cont-tel{
            .tel-info{
              font-size: 20px;
              color: #2C3136;
              @include f-r;
            }
            .tel{
              @include f-b;
              font-size: 24px;
              color: #18B794;
            }
          }
          .lang{
            width: 55px;
            height: 55px;
            margin-top: 30px;
            .select{
              font-size: 20px;
              @include f-m;
              text-align: end;
                a{
                  color: #2C3136;
                }
              svg{
                margin-left: 7px;
              }
            }
            .list{
              display: none;
              text-align: end;
              padding-top: 10px;
              .item-list{
                font-size: 20px;
                @include f-m;
                a{
                  color: #2C3136;
                }
              }
            }
            .list:hover{
              display: block;
            }
            .select:hover + .list {
              display: block;
            }
          }
    }
  }
  /*----------------------------------------------------------Header-------------------------------------------------*/
  /*----------------------------------------------------Section Slider Top-------------------------------------------------------*/
section.slider-top{
  position: relative;
  height: 777px;
  .slide{
    width: 100%;
    height: 100%;
    .item{
        img{
          width: 1920px;
          height: 777px;
        }
    }
  }
  .section-inner{
      width: 792px;
      height:339px ;
      position: absolute;
      right: 50%;
      transform: translateX(50%);
      top: 20%;
      text-align:center;
      z-index: 10;
      .stamp{
        position: absolute;
        left: 0;
        top: 0;
      }
      .title{
        margin-top: 77px;
        width: 570px;
        text-transform: uppercase;
        color: #FFF;
        font-size: 80px;
        @include f-r
      }
      .title-margin{
        margin-top: 0px;
      }
      .parts{
          display: flex;
          align-items: center;
          justify-content: center;
          padding-left: 200px;
          margin-top: 20px;
          .buttons{
              width: 300px;
              display: flex;
              justify-content: space-between;
                .button{
                  width: 135px;
                  height: 55px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
                  background-image: linear-gradient(195.44deg, #17B794 0.2%, #22257B 132.69%);
                  color: #090B24;
                  font-size: 18px;
                  @include f-r;
                  &:nth-child(2){
                    background-image: none;;
                    background-color: #FFF;
                  }
                }
              }
          }
      }
  }
  /*----------------------------------------------------Section Slider Top-------------------------------------------------------*/

  /*----------------------------------------------------Section Services-------------------------------------------------------*/
  section.services{
    height: 1234px;
    .section-inner{
      max-width: 1495px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 30px;
        .boxes{
          height: 174px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 214px;
          .box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .text{
              font-size: 24px;
              @include f-m;
              color:#0D0F3B
            }
          }
        }
        .parts{
          .part{
            display: flex;
            justify-content: space-between;
            .right-part{
              width:580px ;
              .title{
                color: #17B794;
                font-size: 48px;
                @include f-r;
                & span{
                  color: #22257B;
                  margin-left: 20px;
                }
              }
              .content{
                .content-text{
                  font-size: 18px;
                  color: #090B24;
                  @include f-r;
                }
                ul{
                  li{
                    font-size: 18px;
                    color: #090B24;
                    @include f-r;
                    margin-bottom: 10px;
                    &:nth-child(1){
                      margin-top: 20px;
                    }
                    &:last-child{
                      margin-bottom: 0px;
                    }
                  }
                }

              }
            }
          }
        }
        .boxes-bottom{
          display: flex;
          justify-content: space-around;
          align-items: flex-end;
          width: 1061px;
          margin: 0 auto;
          margin-top: 90px;
            .box{
              display: flex;
              flex-direction: column;
              align-items: center;
              .icon{
                margin-bottom: 10px;
              }
              .text{
                font-size: 18px;
                color: #090B24;
                @include f-m;
              }
            }
        }
    }
  }
  /*----------------------------------------------------Section Servosec-------------------------------------------------------*/

    /*----------------------------------------------------Section Before After-------------------------------------------------------*/
section.before-after{
  .slider{
    display: flex;
    justify-content: space-between;
    .juxtapose {
      z-index: 2;
  
      .jx-arrow.jx-right {
        animation: move-right 2s infinite;
      }
  
      .jx-arrow.jx-left {
        animation: move-left 2s infinite;
      }
  }
  }
}