body{
  background-color: #F3F3F3;
}
//-------------------------------------Top-Inner-------------------------------------
section.top-inner{
  height: 232px;
  background-image: url("../images/iStock.png");
  position: relative;
    .logo{
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);
    }
  .text{
   text-align: center;
    padding-top: 45px;
    .title{
      color: #FFF;
      font-size: 72px;
      @include f-r
    }
    .subtitle {
       color: #22257b;
      .breadcrumb_last, a{
        color: #FFF;
        font-size: 18px;
        @include f-m
      }
    }
    
    a{
      color: #FFF;
      font-size: 18px;
      @include f-r
    }
  }
  @media only screen and (max-width: 1024px) {
    .logo{
      left: 0;
      top: 80%;
      img{
        width: 100px;
      }
    }
  }
  @media only screen and (max-width: 480px) {
    height: 150px;
    .logo{
      img{
        width: 80px ;
      }
    }
    .text{
      .title{
        font-size:42px;
      }
      .subtitle{
        font-size: 14px;
      }
    }
  }
}
//-------------------------------------Top-Inner-------------------------------------
//----------------------------------------ABOUT PAGE END----------------------------------------------------------------

section.services  {
  &.about{
    background-color: transparent;
    .section-inner{
      padding: 120px 30px 150px 30px;
      background-color: #FFF;
      max-width: 1920px;
      position: relative;
      justify-content:normal;
      .parts{
        margin-bottom: 50px;
        .part{
          align-items: center;
          .part-img-left{
            position: relative;
            flex-basis: 48%;
            .text{
              position: absolute;
              right: 140px;
              top: 140px;
              .name{
                font-size: 36px;
                color: #22257B;
                @include f-b;
              }
              .position{
                font-size: 24px;
                color: #22257B;
                @include f-r;
              }
            }
          }
          .right-part{
            flex-basis: 44%;
          }
        }
      }
      .about-work{
        width: 100%;
        max-width: 1525px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        .description-slider{
          width: 50%;
          margin: 0;
          &.owl-theme{
            .owl-dots{
              margin-top:41px;
              .owl-dot:hover{
                span{
                  background-color: #17B794;
                }
              }
              .owl-dot{
                span{
                  background-color: #22257B;
                }
                &.active{
                  span{
                    background-color: #17B794;
                  }
                }
              }
            }
          }
          .img-slide{
            display: block;
            position: relative;
            .play{
              position: absolute;
              top: 50%;
              right: 50%;
              transform: translate3d(50%, -50%, 0);
            }
          }
          &.owl-carousel{
            position: relative;
            .owl-nav{
              .owl-prev{
                color: #17B794;
                position: absolute;
                top: 40%;
                right: -5%;
                font-size: 24px;
              }
              .owl-next{
                color:#17B794;
                position: absolute;
                top: 40%;
                left: -5%;
                font-size: 24px;
              }
            }
          }
        }
        .text{
          width: 40%;
            .subtitle{
              font-size: 24px;
              color: #22257B;
              @include f-b;
              margin-top: 0;
            }
          p{
            font-size: 18px;
            color: #090B24;
            @include f-r;
            margin-top: 20px;
          }
        }
      }
    }
    @media only screen and (max-width: 1440px){
      .section-inner{
        .boxes-bottom{
          .boxes-right{
            .title{
              font-size: 32px;
            }
          }
        }
        .about-work{
          .text{
            p{
              font-size: 17px;
            }
          }
        }
      }
    }
    @media only screen and (max-width: 1024px){
      .section-inner{
        padding: 90px 30px 150px 30px;
        .about-work{
          flex-direction: column;

          .description-slider{
            width: 100%;
          }
          .text{
            width: 100%;
            text-align: center;

            p.title {
              font-size: 45px !important;
            }
          }
        }
        .parts{
          .part{
            .part-img-left{
              align-self: center;
              .text{
                right: 90px;
                top: 70px;
              }
            }
          }
        }
      }
    }
    @media only screen and (max-width: 768px){
      padding-bottom: 110px;
      .section-inner{
        .parts{
          .part{
            flex-direction: column;
            .part-img-left{
              align-self: center;
              .text{
                right: 140px;
                top: 140px;
              }
            }
          }
        }
      }
    }
    @media only screen and (max-width: 480px){
      padding-bottom:0 ;
      .section-inner{
        padding: 60px 30px 80px 30px;
        .parts{
          .part{
            .part-img-left{
              margin-top: 10px;
              .text{
                right: 95px;
                top: 50px;
                .name{
                  font-size: 30px;
                }
                .position{
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
    @media only screen and (max-width: 414px){
      .section-inner{
        .parts{
          .part{
            .part-img-left{
              .text{
                right: 66px;
                top: 50px;
                .position{
                  font-size: 19px;
                }
              }
            }
          }
        }
      }
    }

    @media only screen and (max-width: 375px){
      .section-inner{
        .parts{
          .part{
            .part-img-left{
              .text{
                right: 66px;
                top: 45px;
                .name{
                  font-size: 25px;
                }
                .position{
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
footer.about{
  @media only screen and (max-width: 480px) {
      .contact{
        .section-inner{
          padding: 70px 40px 90px 40px;
        }
      }
  }
}

//----------------------------------------ABOUT PAGE END----------------------------------------------------------------

//----------------------------------------Services-Page----------------------------------------------------------------
section.box{
  &.box-services{
    height: auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    .text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 730px;
      padding: 0 30px;
      .title{
        font-size: 72px;
        color: #17B794;
        @include f-r;
        span{
          font-size: 72px;
          color: #22257B;
          @include f-r;
        }
      }
      .subtitle{
        text-align: center;
        font-size: 18px;
        @include f-r;
      }
    }
    .boxes{
      height: auto;
      margin-top: 70px;
      justify-content: flex-start;
      .box{
        padding: 100px 0;
        flex-basis: 33%;
        border-left: 2px solid white;
      }
    }
    @media only screen and(max-width: 1024px) {
      .boxes{
        .box{
          transform: scale(1);
        }
      }
    }
    @media only screen and(max-width: 768px) {
        .text{
          .title{
            font-size: 45px;
            span{
            font-size: 45px;
          }
        }
      }
    }
    @media only screen and(max-width: 480px) {
      padding: 40px 0;
      .text{
        .title{
          font-size: 30px;
          span{
            font-size: 30px;
          }
        }
        .subtitle{
          width: 100%;
          font-size: 15px;
        }
      }
      .boxes{
        .box{
          flex-basis: 50%;
          border: none;
          &:last-child{
            display: flex;
          }
        }
      }
    }
  }
}

section.top-inner{
  &.title-services{
    @media only screen and(max-width: 768px) {
      .text{
        .title{
          font-size: 45px;
        }
      }
    }
    @media only screen and(max-width: 480px) {
      .text{
        .title{
          font-size: 30px;
        }
      }
    }
  }
}

//----------------------------------------Services-Page----------------------------------------------------------------

//----------------------------------------Services-Page-inner----------------------------------------------------------------
section.services{
  &.about{
    &.inner{
      background-color: #FFF;
      padding-bottom: 0;
      .section-inner{
        .about-work{
          align-items: flex-start;
          .text{
            p{
              &.title{
                font-size: 72px;
                color: #17B794;
                @include f-r;
                margin-top: 0;
                span{
                  color: #22257B;
                  @include f-r;
                }
              }
            }
          }
          .description-slider{
            &.owl-carousel{
              .owl-nav{
                .owl-prev{
                  color: #17B794;
                  position: absolute;
                  top: 40%;
                  right: -5%;
                  font-size: 24px;
                }
                .owl-next{
                  color:#17B794;
                  position: absolute;
                  top: 40%;
                  left: -5%;
                  font-size: 24px;
                }
              }
            }
          }
        }
        .parts{
          margin-top: 70px;
          .part{
            .part-img-left{
              height: 534px;
              flex-basis: 46%;
              background-image: url("../images/back_sofa.png");
              background-repeat: no-repeat;
              background-size: cover;
              position: relative;
              //height: 100%;
              img{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              }
            }
            .right-part{
              .title{
                font-size: 24px;
                color: #090B24;
                @include f-m;
              }
            }
          }
        }
      }
      .button{
        width: 234px;
        height: 55px;
        color: #FFF;
        font-size: 24px;
        @include f-b;
        background-image: linear-gradient(223deg, #35DCC6 0%, #22257B 100%);
        border-radius:28px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .fa{
          margin-right: 20px;
          font-size: 24px;
        }
      }
      @media only screen and(max-width: 1440px) {
        .section-inner{
          padding: 120px 30px 150px 50px;
          .parts{
            .part{
              .part-img-left{
                background-size: contain;
              }
            }
          }
        }
      }
      @media only screen and(max-width: 1024px){
        .section-inner{
          padding: 40px 30px 90px 50px;
          .about-work{
            margin-top: 20px;
            .description-slider{
              margin-top: 20px;
            }
          }
          .parts{
            .part{
              .part-img-left{
                background-position: center;
              }
            }
          }
        }
      }
      @media only screen and(max-width: 768px){
        .section-inner{
          padding: 40px 30px 70px 30px;
          .parts{
            .part{
              .part-img-left{
                background-position:center ;
                width: 100%;
                  img{
                    position: static;
                    transform: none;
                  }
              }
            }
          }
        }
      }
      @media only screen and(max-width: 480px){
        .section-inner{
          .about-work{
            .text{
              p{
               & .title{
                 font-size: 55px;
               }
              }
            }
          }
          .parts{
            .part{
              .right-part{
              }
            }
          }
        }
      }
      @media only screen and(max-width: 375px){
        .section-inner{
          .parts{
            .part{
              .part-img-left{
                height: 900px;
              }
            }
          }
        }
      }
    }
  }
}
section.section-clients{
  &.inner{
    background-color: #F3F3F3;
    .section-inner{
      background-color: #F3F3F3;
      .slider-clients{
        .item{
          .clients-reviews{
            .button{
              background-color: #FFF;
            }
          }
        }
          &.owl-carousel{
            .owl-nav{
              .owl-prev{
                color: #17B794;
                position: absolute;
                top: 40%;
                right: -5%;
                font-size: 24px;
              }
              .owl-next{
                color:#17B794;
                position: absolute;
                top: 40%;
                left: -5%;
                font-size: 24px;
              }
            }
          }
      }
      .clients-logo{
        background-color: #FFF;
        max-width: 1034px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        .section-inner{
          background-color: #FFF;
          width: 100%;
          max-width: 856px;
          .info{
            margin-left: 15px;
            &:last-child{
              margin-left: 0;
            }
            .call{
              display: flex;
              align-items: center;
              font-size: 24px;
              color: #4E4F4F;
              @include f-b;
              img{
                margin-left: 10px;
              }
            }
            .tel{
              font-size: 24px;
              color: #18B794;
              @include f-b
            }
            .button{
              text-align: center;
              padding: 20px 35px;
              background-image: linear-gradient(223deg, #35DCC6 0%, #22257B 100%);
              border-radius: 200px;
              color: #FFF;
              cursor: pointer;
            }
          }
        }
      }
    }
    @media only screen and(max-width: 1024px) {
      .section-inner{
        .header{
          padding-top: 40px;
        }
        .clients-logo{
          max-width: 960px;
        }
      }
    }
    @media only screen and(max-width: 768px) {
      padding: 20px 0 40px 0;
      .section-inner{
        .header{
          .header-text{
            margin-bottom: 30px;
          }
        }
        .slider-clients{
          .item{
            .clients-reviews{
              .button{
                background-color: #FFF;
              }
            }
          }
          &.owl-theme{
            .owl-dots{
              margin-top: 30px;
            }
          }
        }
        .clients-logo{
          display: none;
        }
      }
    }
    @media only screen and(max-width: 480px){
      .section-inner{
        .clients-logo{
          .section-inner{
            .info{
              .call{
                font-size: 18px;
              }
              .tel{
                font-size: 17px;
              }
              &:nth-child(3){
                display: none;
              }
            }
          }
        }
      }
    }
    @media only screen and(max-width: 375px){
      .section-inner{
        .clients-logo{
          .section-inner{
            .info{
              .call{
                font-size: 15px;
              }
              .tel{
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
section.before-after{
  &.inner{
    background-color: #FFF;
    .header{
      .title{
        font-size: 72px;
        @include f-b;
        span{
          font-size: 72px;
          @include f-b;
        }
      }
      &:nth-child(3){
        padding-top: 75px;
      }
    }
    .slider-before{
      margin-top: 50px;
    }
    @media only screen and(max-width: 768px){
      padding-top: 30px;
    }
    @media only screen and(max-width: 480px) {
      .header{
        .title{
          font-size: 45px;
          span{
            font-size: 45px;
          }
        }
        &:nth-child(3){
          padding-top: 10px;
        }
      }
    }
  }
}
//----------------------------------------Services-Page-inner----------------------------------------------------------------

//----------------------------------------Before-After----------------------------------------------------------------
section.before-after{
  &.inner{
    &.big{
      background-image: none;
      padding-top: 90px;
      padding-bottom: 115px;
      .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .header-text{
          width: 760px;
          text-align: center;
          font-size: 18px;
          @include f-r
        }
      }
      .slider-before{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: auto;
        .juxtapose{
          .jx-slider{
            height: 100%;
          }
        }
        .slider-size{
          margin-top: 30px;
          position: relative;
        }
      }
      @media only screen and (max-width: 1440px){
        .slider-before{
          width:100%;
          max-width: 1300px;
          .slider-size{
            width: 610px;
            .slider-text{
              width: 610px;
            }
          }
        }
      }
      @media only screen and (max-width: 1024px){
        .slider-before{
          width:100%;
          max-width: 980px;
          .slider-size{
            width: 450px;
            .slider-text{
              width: 450px;
            }
          }
        }
      }
      @media only screen and (max-width: 768px){
        .slider-before{
          width:100%;
          max-width: 740px;
          .slider-size{
            width: 740px;
            .slider-text{
              width: 740px;
            }
            &:nth-child(2){
              display:flex;
            }
          }
        }
      }
      @media only screen and (max-width: 500px){
        padding-top: 10px;
        .header{
          .header-text{
            width: 100%;
            font-size: 15px;
            margin-bottom: 0;
          }
        }
        .slider-before{
          width:100%;
          max-width: 390px;
          .slider-size{
            width: 390px;
            .slider-text{
              width: 390px;
              height: 40px;
              bottom: 10px;
            }
          }
        }
      }
      @media only screen and (max-width: 375px){
        .header{
          .title{
            span{
              font-size: 39px;
            }
          }
        }
        .slider-before{
          max-width: 350px;
          .slider-size{
            width: 350px;

            .slider-text{
              width: 350px;
            }
          }
        }
      }
    }
  }
}
//----------------------------------------Before-After----------------------------------------------------------------

//----------------------------------------Blog----------------------------------------------------------------
section.blog{
  padding:70px 0 ;
  display: flex;
  align-items: center;
  background-color: #FFF;
  .section-inner{
    width: 100%;
    max-width: 1525px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .subtitle{
      width: 760px;
      text-align: center;
      font-size: 18px;
      @include f-r;
    }
    .about{
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
      .content{
        display: block;
        width: 32%;
        height: 352px;
        overflow-y: hidden;
        position: relative;
        margin-top: 30px;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
          .text{
            background: rgba(255,255,255,0.71);
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 30px 30px 0 30px ;
            .title{
              font-size: 24px;
              color: #090B24;
              @include f-m;
              margin-bottom: 30px;
            }
            .subtitle{
              width: 355px;
              font-size: 18px;
              color: #090B24;
              @include f-r;
              margin-right: 30px;
              text-align: right;
              max-height: 0;
              transition: all 1s ease;
            }
          }
        .fa{
          position: absolute;
          left: 20px;
          bottom: 35px;
          color: #3E3E3E;
        }
        &:hover .subtitle{
          max-height: 110px;
          margin-bottom: 30px;
        }
      }
    }
  }
  @media only screen and (max-width: 1024px){
    .section-inner{
      .about{
        .content{
          width: 48%;
        }
      }
    }
  }
  @media only screen and (max-width: 768px){
    padding: 40px 0;
    .section-inner{
      .subtitle{
        width: 100%;
        text-align: center;
      }
      .about{
        .content{
          width: 100%;
          .link{
            .text{
              height: 100px;
              bottom: 0;
            }
            .subtitle{
              display: none;
            }
          }
          .fa{
            bottom: 40px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 480px){
      .section-inner{
        .subtitle{
          font-size: 16px;
        }
        .about{
          .content{
            .link{
              .text{
                height: 60px;
              }
            }
            .fa{
              bottom: 20px;
            }
          }
        }
      }
  }
}
//----------------------------------------Blog----------------------------------------------------------------

//----------------------------------------Blog-Post----------------------------------------------------------------
section.top-inner{
  &.title-services{
    &.post{
      @media only screen and (max-width: 1440px) {
        .text{
          width: 100%;
          .title{
            font-size: 60px;
          }
        }
      }
      @media only screen and (max-width: 1024px) {
        .text{
          .title{
            font-size: 45px;
          }
        }
      }
      @media only screen and (max-width: 500px) {
        .text{
          .title{
            font-size: 29px;
          }
        }
      }
    }
  }
}

section.services {
  &.about{
    &.post{
      padding-bottom: 65px;
      .section-inner{
        .parts{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .part{
            display: block;
            .part-img-left{
              float: left;
            }
              .right-part{
                .content{
                  p{
                    font-size: 18px;
                    color: #090B24;
                    @include f-r;
                  }
                  h3{
                    font-size: 24px;
                    color: #090B24;
                    @include f-m;
                  }
                }
              }
          }
        }
        .boxes-bottom{
          max-width: 1034px;
          height: 123px;
          bottom: -61px;
          background-color: #FFF;
          .boxes-list{
            width: 100%;
            max-width: 856px;
            justify-content: center;
            .info{
              margin-left: 15px;
              &:last-child{
                margin-left: 0;
              }
              .call{
                display: flex;
                align-items: center;
                font-size: 24px;
                color: #4E4F4F;
                @include f-b;
                img{
                  margin-left: 10px;
                }
              }
              .tel{
                font-size: 24px;
                color: #18B794;
                @include f-b
              }
              .button{
                width: 270px;
                height: 55px;
                background-image: linear-gradient(223deg, #35DCC6 0%, #22257B 100%);
                border-radius: 28px 38px 38px 35px;
                color: #FFF;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
      @media only screen and (max-width: 1024px) {
        padding-bottom: 0;
        .section-inner{
          padding: 90px 30px 20px 30px;
          .parts{
            .part{
              .part-img-left{
                float: top;
              }
              .right-part{
                .title{
                  width: auto;
                  line-height: normal;
                  font-size: 72px;
                }
              }
              .part-img-left{
                width: 100%;
                margin-top: 20px;
              }
            }
          }
          .boxes-bottom{
            display: none;
          }
        }
      }
      @media only screen and (max-width: 768px) {
        .section-inner{
          .parts{
            .part{
              .right-part{
                .title{
                  font-size: 55px;
                }
              }
            }
          }
          .boxes-bottom{
            .boxes-list{
              .info{
                .call{
                  font-size: 20px ;
                }
                .tel{
                  font-size: 20px;
                }
                .button{
                  width: 200px;
                }
              }
            }
          }
        }
      }
      @media only screen and (max-width: 480px) {
        .section-inner{
          padding: 30px 30px 40px 30px;
          .boxes-bottom{
            height: 90px;
            .boxes-list{
              .info{
                .call{
                  font-size: 15px;
                }
                .tel{
                  font-size: 15px;
                }
                &:nth-child(3){
                  display: none;
                }
              }
            }
          }
          .parts{
            margin-bottom: 0;
            .part{
              .right-part{
                .title{
                  font-size: 54px;
                }
              }
            }
          }
        }
      }
      @media only screen and (max-width: 375px){
        .section-inner{
        }
      }
    }
  }
}
section.blog{
  &.post{
    background-color: #F3F3F3;
    background-image: url("../images/post_back.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 0;
    .section-inner{
      .title{
        font-size: 72px;
        color: #17B794;
        @include f-r;
        span{
          font-size: 72px;
          color: #22257B;
          @include f-r;
        }
      }
      .about{
        margin-top: 50px;
      }
    }
    @media only screen and (max-width: 768px){
      .section-inner{

      }
    }
    @media only screen and (max-width: 480px){
      .section-inner{
        .title{
          font-size: 55px;
          span{
            font-size: 55px;
          }
        }
      }
    }
    @media only screen and (max-width: 375px){
      .section-inner{
        .title{
          font-size: 55px;
          span{
            font-size: 55px;
          }
        }
      }
    }
  }
}
//----------------------------------------Blog-Post----------------------------------------------------------------

//----------------------------------------Contact-Us----------------------------------------------------------------
section.contact-us{
  padding: 100px 0;
  display: flex;
  align-items: center;
  background-color: #FFF;
  background-image: url("../images/contact_back.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 10%;
    .section-inner{
      max-width: 1525px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .contact {
        padding: 60px 0;
        background-image:linear-gradient(223deg, #17B794 0%, #22257B 100%);
        height: 100%;
        width: 54%;
        display: flex;
        align-items: center;
        .inner {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: baseline;
          .title {
            font-size: 60px;
            color: #FFF;
            @include fb-r;
            margin-right: 90px;
          }

          .subtitle {
            font-size: 72px;
            color: #FFF;
            @include fb-b;

            margin-right: 90px;
          }

          .wpcf7 {
            width: 100%;
            position: relative;
            form {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            .ajax-loader{
              display: none;
            }
            input {
              width: 631px;
              height: 34px;
              margin-top: 38px;
              background-color: transparent;
              border: none;
              outline: none;
              border-bottom: 1px solid #FFF;
              font-size: 18px;
              color: #FFF;
              @include f-b;

              &::placeholder {
                color: #FFF;
                font-size: 18px;
                @include f-r;
              }
            }

            input[type="submit"] {
              width: 143px;
              height: 56px;
              border: none;
              cursor: pointer;
              padding-left: 30px;
              position: relative;
              right: 240px;
              background-color: #17B794;
              border-radius: 28px;
              background-image: url("../images/form_button.png");
              background-size: auto;
              background-repeat: no-repeat;
              background-position: center;
              background-position-x: 10%;
            }
            input[type="checkbox"] {
              height: auto;
              width: auto;
            }
            .wpcf7-response-output{
              border: none;
              position: absolute;
              bottom: 11%;
              right: 39%;
            }
            .wpcf7-form-control-wrap.newsletter {
              display: inline-block;
            }

            .newsletter-cb {
              font-family: 'Rubik', sans-serif;
              font-weight: 400;
              font-size: 18px;
              color: #FFF;
              display: block;
              margin-top: 15px;
              position: absolute;
              right: 90px;
              bottom: 15px;
              cursor: pointer;
              text-align: right;
              width: 40%;
            }
            .newsletter-cb input {
              display: none;
            }
            .newsletter-cb .wpcf7-list-item-label {
              margin-left: 15px;
            }
            .newsletter-cb .wpcf7-list-item-label:after {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              height: 22px;
              width: 22px;
              border: 1px solid #F3F3F3;
              background-color:rgba(255,255,255,0.5);
            }
            .newsletter-cb .wpcf7-list-item-label:before {
              content: "";
              position: absolute;
              top: 6px;
              right: 6px;
              height: 10px;
              width: 10px;
              background: #17B794;
              border-radius: 3px;
              opacity: 0;
              -webkit-transform: scale(0.1);
              transform: scale(0.1);
              -webkit-transition: 0.5s;
              transition: 0.5s;
              z-index: 2;
            }
            .newsletter-cb input:checked ~ .wpcf7-list-item-label:before {
              opacity: 1;
              -webkit-transform: scale(1);
              transform: scale(1);
            }
          }
        }
      }
      .contact-data{
        padding: 40px 0;
        width: 32%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title-top{
          font-size: 72px;
          color: #17B794;
          @include fb-b;
          span{
            font-size: 72px;
            color: #22257B;
            @include fb-b;
          }
        }
        .info{
          height: 440px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .top{
            ul{
              li{
                font-size: 18px;
                color: #090B24;
                @include f-r;
                img{
                  margin-left: 20px;
                }
              }
            }
          }
          .bottom{
            height: 340px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .time{
              margin-left: 75px;
              .title{
                font-size: 18px;
                color: #090B24;
                @include f-m;
              }
              .text{
                width: 308px;
                font-size: 18px;
                color: #090B24;
                @include f-r;
              }
            }
            .link{
              width: 405px;
              height: 123px;
              background-color: #F3F3F3;
              display: flex;
              align-items: center;
              justify-content: space-around;
              .text{
                font-size: 24px;
                color: #090B24;
                @include f-m;
              }
              a{
                .fa{
                    background-image: linear-gradient(219deg, #17B794 0%, #22257B 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    color: #17B794;
                }
              }
            }
          }
        }
      }
    }
  @media only screen and (max-width: 1440px) {
    .section-inner{
      max-width: 1300px ;
      .contact{
        .inner{
          .subtitle{
            font-size: 50px;
          }
          .wpcf7{
            .newsletter-cb {
              right: 35px;
            }
          }
        }
      }
      .contact-data{
        .info{
          .bottom{
            .time{
              margin-right: 70px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    .section-inner{
      .contact{
        .inner{
          .title{
            font-size: 40px;
          }
          .subtitle{
            font-size: 38px;
          }
          .wpcf7{
            input{
              width: 431px;
            }
            input[type="submit"]{
              right: 150px;
            }
          }
          .wpcf7 .newsletter-cb{
            right: 60px;
          }
        }
      }
      .contact-data{
        width: 40%;
      }
    }
  }
  @media only screen and (max-width: 768px){
    .section-inner{
      flex-direction: column-reverse;
      .contact{
        width: 100%;
        .inner{
          .wpcf7{
            input{
              width: 680px;
            }
            input[type="submit"]{
              right: 270px;
            }
          }
          .wpcf7 .newsletter-cb{
            right: 40px;
          }
        }
      }
      .contact-data{
        width: 54%;
        .info{
          height: 340px;
          .bottom{
            height: 240px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 480px){
    .section-inner{
      .contact{
        .inner{
          .wpcf7{
            input{
              width: 380px;
            }
            input[type="submit"]{
              right: 120px;
            }
          }
          .wpcf7 .newsletter-cb{
            width: 50%;
            right: 40px;
          }
          .title{
            margin-right: 40px;
          }
          .subtitle{
            margin-right: 40px;
            font-size: 34px;
          }
        }
      }
      .contact-data{
        width: 100%;
        .info{
          height: 340px;
          .bottom{
            height: 240px;
            .time{
              margin-right: 0;
              margin-left: 50px;
            }
            .link{
              width: 100%;
            }
          }
        }
        .title-top{
          font-size: 65px;
        }
      }
    }
  }
  @media only screen and (max-width: 414px){
    .section-inner{
      .contact{
        .inner{
          .wpcf7 .newsletter-cb{
            right: 7px;
          }
          .title{
            margin-right: 7px;
          }
          .subtitle{
            margin-right: 7px;
          }
        }
      }
      .contact-data{
        .info{
          .bottom{
            .time{
              margin-right: 14px;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 375px){
    .section-inner{
      .contact{
        .inner{
          .wpcf7{
            input{
              width: 330px;
            }
            input[type="submit"]{
              right: 90px;
            }
          }
          .wpcf7 .newsletter-cb{
            width: 48%;
            font-size: 15px;
          }
        }
      }
      .contact-data{
        .info{
          .bottom{
            .link{
              width: 100%;
            }
            .time{
              margin-right: 50px;
            }
          }
        }
      }
    }
  }
}
footer.contact-us{
  height: 100%;
  .section-inner{
    .footer-list{
      margin-top: 0;
    }
  }
  @media only screen and (max-width: 768px){
    .contact{
      .section-inner{
        .footer-list{
          display: block;
          .columns{
            .col{
              &:nth-child(4){
                display: none;
              }
              &:nth-child(5){
                display: none;
              }
              &:nth-child(6){
                display: none;
              }

            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 500px){
    .contact{
      .section-inner{
        .footer-list{
          display: block;
          .columns{
            .col{
              &:nth-child(3){
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
//----------------------------------------Contact-Us----------------------------------------------------------------


//----------------------------------------Content-ltr----------------------------------------------------------------

section.services{
  &.about{
    &.post{
      &.ltr{
        padding-bottom: 0;
        direction:ltr;
        *, *::before, *::after{
          direction: ltr;
        }
        .section-inner{
          .parts{
            .part{
              .part-img-left{
                float: right;
                margin-left: 40px;
              }
            }
          }
        }
      }
    }
  }
}
//----------------------------------------Contact-ltr----------------------------------------------------------------