/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700");
/* /Fonts */
/* Global */
html {
  margin: 0 !important; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

a {
  text-decoration: none; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  direction: rtl; }

p {
  margin: 0; }

ul {
  -webkit-padding-start: 0;
  list-style: none;
  margin: 0;
  padding: 0; }

section {
  width: 100%;
  max-width: 1920px;
  margin: auto; }

.section-inner {
  max-width: 1388px;
  padding: 0 10px;
  width: 100%;
  margin: auto; }

header .header-inner {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 20px 0 20px; }
  header .header-inner .menu-cont {
    width: 520px; }
    header .header-inner .menu-cont .main-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      font-family: 'Rubik', sans-serif;
      font-weight: 400;
      font-size: 18px; }
      header .header-inner .menu-cont .main-menu li a {
        color: #090B24; }
  header .header-inner .part-left {
    width: 563px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header .header-inner .part-left .cont-icons {
      width: 112px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header .header-inner .part-left .cont-icons .icon {
        color: #2C3136; }
        header .header-inner .part-left .cont-icons .icon .fa {
          font-size: 28px; }
    header .header-inner .part-left .cont-tel .tel-info {
      font-size: 20px;
      color: #2C3136;
      font-family: 'Rubik', sans-serif;
      font-weight: 400; }
    header .header-inner .part-left .cont-tel .tel {
      font-family: 'Rubik', sans-serif;
      font-weight: 700;
      font-size: 24px;
      color: #18B794; }
    header .header-inner .part-left .lang {
      width: 55px;
      height: 55px;
      margin-top: 30px; }
      header .header-inner .part-left .lang .select {
        font-size: 20px;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        text-align: end; }
        header .header-inner .part-left .lang .select a {
          color: #2C3136; }
        header .header-inner .part-left .lang .select svg {
          margin-left: 7px; }
      header .header-inner .part-left .lang .list {
        display: none;
        text-align: end;
        padding-top: 10px; }
        header .header-inner .part-left .lang .list .item-list {
          font-size: 20px;
          font-family: 'Rubik', sans-serif;
          font-weight: 500; }
          header .header-inner .part-left .lang .list .item-list a {
            color: #2C3136; }
      header .header-inner .part-left .lang .list:hover {
        display: block; }
      header .header-inner .part-left .lang .select:hover + .list {
        display: block; }

section.slider-top {
  height: 797px; }
  section.slider-top .slide {
    width: 100%;
    height: 100%; }
    section.slider-top .slide .item img {
      width: 1920px;
      height: 785px; }
